
@CHARSET "UTF-8";
body {
	background:rgba(180, 180, 180, .5);
}
#login {
	width:500px;
	height:300px;
	/*background:#EDEFFC;*/
	background: #fff;
	margin:120px auto 0 auto;
	padding: 10px;
	border-radius: 5px;
	box-shadow:black 0px 0px 10px;
}
#login dl{
	width:500px;
	margin:0 0 0 auto;
	padding:10px 0 0 20px;
	color:#01458E;
	float:left;
	font-size:15px;
}
#login dl dd {
	margin:16px 0;
	height:32px;
	line-height:32px;
}
#login dl dd input.text {
	width:280px;
	height:30px;
	line-height:30px;
	
}
.login_btn{
	outline: none;
	height: 35px;
	width: 150px;
}
#login dl dd.code {
	padding:0 0 0 72px;
}
#login dl dd.code img {
	border:1px solid #eee;
	cursor:pointer;
}
#verify{	
	height:30px;
	line-height:30px;	  
    width: 90px;
	margin-right:3px;
}
#verify_img{
	cursor:pointer;
    position: relative;
    top:12px;
}
.text{
	height:22px;
}
.l_title{
	height:40px;
	line-height:40px;
	font-size:24px;
	padding-left:5px;
	padding-top:10px;
	color:#01458e;
	font-weight:bold;
	
}